.no-padding {
    padding:0!important;
}
.footer-big {
    padding:0;
}
.footer-big .footer-widget {
    margin-bottom:10px;
    margin-top:10px;
}
.footer--light {
    background:#343a40;
}
.footer-big .footer-menu ul li a,.footer-big p,.footer-big ul li {
    color:#898b96;
}
.footer-menu {
    padding-left:48px;
}
.footer-menu ul li {
    font-size:1em;
    margin-top:25px;
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

.footer-menu ul li a:hover, #footer ul>li>a img:hover  {
    text-shadow: 1px 1px 2px white, 0 0 2em rgb(194, 25, 56), 0 0 0.2em rgb(255, 30, 30);
    opacity: 0.8;
}
.footer-menu--1 {
    width:100%;
}
.footer-widget-title {
    line-height:42px;
    margin-bottom:10px;
    font-size:18px;
}
.mini-footer {
    background:#343a40;
    text-align:center;
    padding:0px 0;
}
.mini-footer p {
    margin:0;
    font-size:15px;
    color:#999;
}

    .footer-menu {
        padding:0;
    }

